---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "base"
;

.visible-grid{
  background-image: linear-gradient(to right, rgba(0,0,0,.1) 0, rgba(255,255,255,0)1.5px);
  background-repeat: repeat-x;
  background-size: 16.6666667% 100%;
  margin:0 2rem;
  //@media screen and (min-width:$tablet){
    //background-size: 100% 30px;
  //20px x 1.5 = 30px
  //}
  // background-image:repeating-linear-gradient(
  //
  // );
}
body{
  background-image: linear-gradient(to bottom,rgba(0,0,0,.1) 0,rgba(255,255,255,0)1px);
  background-repeat: repeat-y;;
  background-size:100% 1.5em;
  background-color:$white;
  color:$navy;
  //border-left:2rem solid $red;
}
#Story{
  //border-left:2px solid $navy;
}


#bar-a {max-height:41% ; height:41% ;}
#bar-b {max-height:50% ; height:50% ;}
#bar-c {max-height:51% ; height:51% ;}
#bar-d {max-height:53% ; height:53% ;}
#bar-e {max-height:100%; height:100%; }

.map{
  width:100%;
  height:80vh;
  max-width:100%;
  display: inline-block;
	fill: currentColor;
	padding:1rem 0;
}

.story{
  //margin-top:2em;
  margin-bottom:3rem;
  line-height:1;
  position:relative;
  &:before{
    //display:block;
    //content:'';
    //border-top:2px solid $navy;
    //width:.75em;
    //position:absolute;
    //top:-2rem;
    //left:-1em;
    //@include breakpoint(m) {
    //  top:-2.5rem
    //};
  }
}
.number{
  font-family:$condensed-font-family;
  font-size:8rem;
  @include breakpoint(m) {
    font-size:12rem;
  };
  @include breakpoint(l) {
    font-size:14rem;
  };
  @include breakpoint(xl) {
    font-size:16rem;
  };
  color:$red;
  line-height:.875;
  margin-bottom:3rem;
  margin-left: -.035em;
  letter-spacing: -.25rem;
}
.medium-number{
  font-family:$condensed-font-family;
  font-size:4rem;
  line-height:.875;
  margin-bottom:0;
  margin-left: -.035em;
}
.unit{
  color:$red;
  font-weight:600;
  margin-bottom:0;
}
blockquote{
  //background-color:$red;
  //color:$white;
  font-size:1.25rem;
  line-height:1.5rem;
  //padding:1.5rem 0;
  //padding:4rem;
  //font-weight:600;
  position:relative;
  margin-left:3rem;
  &:before{
    position:absolute;
    display:block;
    content:'“';
    font-family:$condensed-font-family;
    font-size:8rem;
    left:-3rem;
    top:3rem;
    opacity:.5;
  }
}

.pane{
  //display:none;
  //transition:.5s;
  overflow:hidden;
  max-height:9999px;
  &.closed{
    max-height:0px;
  }
}
section{
  position:relative;
  //overflow-x:hidden;
}
#WhatIsBB{
  //color:$white;
  //background-color:$navy;
}

.average-line{
  @include breakpoint(l) {
    width:100%;
    border-top: 1px dotted $navy;
  };
}
.fundraiser-name{
  transform:rotate(90deg);
  transform-origin: 6% 75%;
  @include breakpoint(xl) {
    transform:rotate(45deg);
    transform-origin: 20% 200%;
  };
}

#Financials {
  border-top: 2px $red solid;
}
