<div id="Onward">
  <!-- On to 2016 -->
      <section class="pad-y-xxl pad-x-l ">
        <div class="text-center">
          <h1 class="caps bold"> On to </h1>
          <h1 class="number">2016</h1>
        </div>
        <div class="grid cf">
            <div class="col col-12 m-col-3">
              <h2>Get Involved</h2>
            </div>
            <div class="col col-12 m-col-3">
              <ul class="list-reset">
                <li> <a class="red" href="http://bikeandbuild.org/apply"> Apply </a> </li>
                <li> <a class="red" href="mailto:info@abikeandbuild.org"> Contact Us</a> </li>
                <li> <a class="red" href="http://bikeandbuild.org/apply"> Read Our 2016&ndash;2018 Strategic Plan </a> </li>
              </ul>
            </div>
            <div class="col col-12 m-col-3">
              <p> Interested in partnering with Bike & Build? Check out our <a class="red" href="http://bikeandbuild.org">website</a> to learn more. </p>
              <p> A special thanks to our 2015 partners, for all of their support of our riders and build partners. We couldn’t have done it without you!</p>
            </div>
            <div class="col col-12 m-col-3">
              <img src="img/content/partners/partners_blue.jpg" alt="">

            </div>
        </div>


        <div class="grid cf">
          <div class="col m-col-3">
            <h2>Connect</h2>
          </div>
          <div class="col m-col-3">
            <ul class="list-reset">
              <li class=""> <a class="red" href="http://instagram.com/bikebuild" target=_blank> Instagram </a> </li>
              <li class=""> <a class="red" href="http://twitter.com/bikebuild" target=_blank> Twitter </a> </li>
              <li class=""> <a class="red" href="http://facebook.com/bikebuild" target=_blank>  Facebook</a> </li>
              <li class=""> <a class="red" href="http://youtube.com/bikebuild" target=_blank> Youtube </a> </li>
            </ul>
          </div>
        </div>
      </section>
</div>

<footer class="site-footer">


</footer>



<script>
new WOW().init();

//wow = new WOW(
//{
//boxClass:     'wow',      // default
//animateClass: 'animated', // default
//offset:       0,          // default
//mobile:       true,       // default
//live:         true        // default
//}
//)
//wow.init();



// Open & Close Additional Content Sections
  var panes = document.getElementsByClassName('pane');
  var i;
  for (i = 0; i < panes.length; i++) {
      panes[i].classList.add("closed");
  }
  var panelinks = document.getElementsByClassName('paneLink');
  var j;
  for (j = 0; j < panelinks.length; j++){
      var paneID = panelinks[j].getAttribute("href");
      panelinks[j].addEventListener("click", function(event){
        event.preventDefault();
    });
  }
  function openID(){
    document.getElementById("ID").classList.toggle("closed");
  }

</script>
