<div id="Onward">
  <!-- On to 2016 -->
      <section class="pad-b-xl  relative z2">
        <div class="flex min-height-100 pad-x-l bg-navy white red-accent mar-b-xl">
          <header class="mar-y-auto pad-y-xl text-center float-center">
            <h1 class="caps bold wow fadeInUp"> On to </h1>
            <h1 class="number wow fadeInUp"> <span class="white">2016</span> </h1>
          </header>
        </div>
        <div class="pad-x-l">
          <div class="col-12 m-col-8 float-center">
            <h2 class="h1">Get Involved</h2>
          </div>
          <div class="grid cf float-center col-12 m-col-8">
            <div class="col col-12 l-col-6 pad-r-m">
              <p class="h3"> Interested in partnering with Bike & Build? Check out our <a class="navy" href="http://bikeandbuild.org">website</a> to learn more. </p>
              <p class="h3"> A special thanks to our 2015 partners, for all of their support of our riders and build partners. We couldn’t have done it without you!</p>
            </div>
            <div class="col col-12 l-col-6">
              <img src="img/content/partners/partners_blue.jpg" alt="">
            </div>
          </div>

          <div class="col-12 m-col-8 float-center pad-y-xl">
            <h2 class="h1">Learn More</h2>
            <p class="mar-t-l">
               <a class="red button mar-r-m" href="http://bikeandbuild.org/apply"> Apply  &rarr;</a>
               <a class="red button mar-r-m" href="mailto:info@abikeandbuild.org"> Contact Us &rarr;</a>
               <a class="red button mar-r-m" href="http://bikeandbuild.org/about/mission-vision-and-strategic-plan/"> Read Our 2016&ndash;2018 Strategic Plan &rarr;</a>
            </p>
          </div>

          <div class="col-12 m-col-8 float-center">
            <h2>Connect</h2>
          </div>
          <div class="grid cf float-center col-12 m-col-8">

            <div class="col">
              <ul class="list-reset">
                <li class=""> <a class="red" href="http://instagram.com/bikeandbuild" target=_blank> Instagram </a> </li>
                <li class=""> <a class="red" href="http://twitter.com/bikebuild" target=_blank> Twitter </a> </li>
                <li class=""> <a class="red" href="https://www.facebook.com/bikeandbuild" target=_blank>  Facebook</a> </li>
                <li class=""> <a class="red" href="https://www.youtube.com/user/bikeandbuild" target=_blank> Youtube </a> </li>
              </ul>
            </div>
          </div>
        </div>

      </section>
</div>

<footer class="site-footer">


</footer>



<script>
new WOW().init();

//wow = new WOW(
//{
//boxClass:     'wow',      // default
//animateClass: 'animated', // default
//offset:       0,          // default
//mobile:       true,       // default
//live:         true        // default
//}
//)
//wow.init();



// Open & Close Additional Content Sections
  var panes = document.getElementsByClassName('pane');
  var i;
  for (i = 0; i < panes.length; i++) {
      panes[i].classList.add("closed");
  }
  var panelinks = document.getElementsByClassName('paneLink');
  var j;
  for (j = 0; j < panelinks.length; j++){
      var paneID = panelinks[j].getAttribute("href");
      panelinks[j].addEventListener("click", function(event){
        event.preventDefault();
    });
  }
  function openID(){
    document.getElementById("ID").classList.toggle("closed");
  }



  function removePaths() {
    var routePaths = document.getElementsByClassName('routePath');
    var l;
    for (l = 0; l < routePaths.length; l++){
      routePaths[l].classList.remove("pathAnim");
    }
  }

  //function removeClass(classToRemove){
  //  var elems = document.getElementsByClassName(classToRemove);
  //console.log(elems.length);
  //  if (!elems) return;
  //  for (var i=elems.length-1;i>=0;i--) {
  //    var elem=elems[i];
  //    var classes=elem.className.split(" ");
  //    var newClass = classes.splice(classes.indexOf(classToRemove),1).join(" ");
  //    elem.className=classes;
  //    console.log(i,classes,newClass)
  //  }
  //}
  //window.onload=function() {
  //document.getElementById("but").onclick=function() {
  //  removeClass("dice");
  //}

  /*
 * - autoSmoothScroll -
 * Licence MIT
 * Written by Gabriel Delépine
 * Current version  1.3.1 (2014-10-22)
 * Previous version 1.3.0 (2014-07-23)
 * Previous version 1.2.0 (2014-02-13)
 * Previous version 1.0.1 (2013-11-08)
 * Previous version 1.0.0 (2013-10-27)
 * Requirement : No one, it is a framework-free fonction (ie : You do not need to include any other file in your page such as jQuery)
 * Fork-me in github :
 * */
(function(window, undefined) // Code in a function to create an isolate scope
{
    'use strict';
    var height_fixed_header = 0, // For layout with header with position:fixed. Write here the height of your header for your anchor don't be hiden behind
        speed = 500,
        moving_frequency = 15, // Affects performance ! High number makes scroll more smooth
        links = document.getElementsByTagName('a'),
        href;

    for(var i=0; i<links.length; i++)
    {
        href = (links[i].attributes.href === undefined) ? null : links[i].attributes.href.nodeValue.toString();
        if(href !== null && href.length > 1 && href.indexOf('#') != -1) // href.substr(0, 1) == '#'
        {
            links[i].onclick = function()
            {
                var element,
                    href = this.attributes.href.nodeValue.toString(),
                    url = href.substr(0, href.indexOf('#')),
                    id = href.substr(href.indexOf('#')+1);
                if(element = document.getElementById(id))
                {

                    var hop_count = (speed - (speed % moving_frequency)) / moving_frequency, // Always make an integer
                        getScrollTopDocumentAtBegin = getScrollTopDocument(),
                        gap = (getScrollTopElement(element) - getScrollTopDocumentAtBegin) / hop_count;

                    if(window.history && typeof window.history.pushState == 'function')
                        window.history.pushState({}, undefined, url+'#'+id);// Change URL for modern browser

                    for(var i = 1; i <= hop_count; i++)
                    {
                        (function()
                        {
                            var hop_top_position = gap*i;
                            setTimeout(function(){  window.scrollTo(0, hop_top_position + getScrollTopDocumentAtBegin); }, moving_frequency*i);
                        })();
                    }

                    return false;
                }
            };
        }
    }

    var getScrollTopElement =  function(e)
    {
        var top = height_fixed_header * -1;

        while (e.offsetParent != undefined && e.offsetParent != null)
        {
            top += e.offsetTop + (e.clientTop != null ? e.clientTop : 0);
            e = e.offsetParent;
        }

        return top;
    };

    var getScrollTopDocument = function()
    {
        return window.pageYOffset !== undefined ? window.pageYOffset : document.documentElement.scrollTop !== undefined ? document.documentElement.scrollTop : document.body.scrollTop;
    };
})(window);


</script>
