<div id="Onward">
  <!-- On to 2016 -->
      <section class="pad-b-l  relative z2">
        <div class="flex min-height-100 pad-x-l bg-navy white red-accent mar-b-xl">
          <header class="mar-y-auto pad-y-xl text-center float-center">
            <h1 class="caps bold wow fadeInUp" data-wow-delay=".25s"> On to </h1>
            <h1 class="number wow fadeInUp" data-wow-delay=".5s"> <span class="white"><span class="kern">2</span>016</span> </h1>
          </header>
        </div>
        <div class="pad-x-l">
          <div class="col-12 m-col-8 float-center">
            <h2 class="h1">Get Involved</h2>
          </div>
          <div class="grid cf float-center col-12 m-col-8">
            <div class="col col-12 l-col-6 pad-r-m">
              <p class="h3"> Interested in partnering with Bike & Build? Check out our <a class="navy" href="http://bikeandbuild.org">website</a> to learn more. </p>
              <p class="h3"> A special thanks to our 2015 partners, for all of their support of our riders and build partners. We couldn’t have done it without you!</p>
            </div>
            <div class="col col-12 l-col-6">
              <img src="img/content/partners/partners_blue.jpg" alt="">
            </div>
          </div>

          <div class="col-12 m-col-8 float-center pad-y-xl cf">
            <h2 class="h1">Learn More</h2>
            <ul class="list-reset cf">
              <li class="col mar-b-m">  <a class="red button mar-r-m" href="http://apply.bikeandbuild.org/"> Apply  &rarr;</a></li>
              <li class="col mar-b-m">  <a class="red button mar-r-m" href="mailto:info@abikeandbuild.org"> Contact Us &rarr;</a></li>
              <li class="col mar-b-m">  <a class="red button mar-r-m" href="http://bikeandbuild.org/about/mission-vision-and-strategic-plan/"> Read Our Strategic Plan &rarr;</a></li>
            </ul>
          </div>

          <div class="col-12 m-col-8 float-center">
            <h2 class="h1">Connect</h2>
          </div>
          <div class="grid cf float-center col-12 m-col-8">

            <div class="col col-6">
              <ul class="list-reset">
                <li class=""> <a class="red" href="http://instagram.com/bikeandbuild" target=_blank> Instagram </a> </li>
                <li class=""> <a class="red" href="http://twitter.com/bikebuild" target=_blank> Twitter </a> </li>
                <li class=""> <a class="red" href="https://www.facebook.com/bikeandbuild" target=_blank>  Facebook</a> </li>
                <li class=""> <a class="red" href="https://www.youtube.com/user/bikeandbuild" target=_blank> Youtube </a> </li>
              </ul>
            </div>
          </div>
          <section class="cf red">
            <div class="pad-t-xl pad-b-m text-center">
              <p>
                <a class="button red" href="#Intro"> &uarr; </a>

              </p>
              <p>Back to Top</p>
            </div>
          </section>
        </div>

      </section>
</div>

<footer class="site-footer pad-x-l border-bottom-thick pad-y-m cf">
  <section class="cf">
    <div class="col col-6">
      <p> All content © Bike &amp; Build and respective owners, 2016. </p>
    </div>
    <div class="col-6 float-r">
      <p class="text-right"> Site by <a class="navy" href="http://morf.studio"> Morf Studio</a>.</p>
    </div>
  </section>


</footer>



<script>
document.addEventListener("DOMContentLoaded", function(event) {
  // Load Wow Anims on scroll
  new WOW().init();
  // Load Canvas Widths / recalculate

});
</script>
<script src="{{site.github.url}}/js/smoothscroll.min.js"></script>
